body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
article {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}
.container article a {
    font-size: 24px; /* 将字体大小设置为和 h2 一样 */
    text-decoration: none; /* 去掉链接的下划线，可选 */
    color: inherit; /* 继承父元素的颜色，可选 */
}
.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.post-date {
    color: #777;
    margin-bottom: 10px;
}
.post-summary {
    color: #333;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}