<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../../css/blog.css">
    <title>mysql报错之ERROR 1820 (HY000)</title>
</head>
<body>
    <div class="container">
        <h1 class="post-title">mysql报错之ERROR 1820 (HY000)</h1>
        <div class="post-meta">作者：Ciin7mo  发布于：2025年3月21日</div>
        <div class="post-content">
            <h4>问题描述：ERROR 1820 (HY000): You must reset your password using ALTER USER statement before executing this statement.</h4>
            <h3>解决方案：</h3>
            <p>解决方法：这表示我们的密码设置的不符合mysql8.0以上的密码设置规范策略。因此我们需要先知道mysql8.0以上所要遵守的密码策略。我们可以通过如下代码可以查看mysql8.0的密码策略。（意思是密码必须为8位，需要一个以上的小写字母和大写字母，需要一个以上的数字以及需要一个以上的特殊字符）
            </p>
                <br>{经验} 直接采用 set password '你的密码'； 即可修改
                <br>然后再flush privileges; 刷新权限。
        </div>
    </div>
</body>
</html>
