<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../../css/blog.css">
    <title>安装的Anaconda一段时间之后图标和启动器Navigator丢失的问题</title>
</head>
<body>
    <div class="container">
        <h1 class="post-title">安装的Anaconda一段时间之后图标和启动器Navigator丢失的问题</h1>
        <div class="post-meta">作者：Ciin7mo  发布于：2025年3月21日</div>
        <div class="post-content">
            <h3>解决方案：</h3>
            <h4>1.管理员身份运行Anaconda Prompt</h4>
            <h4>2.执行命令 conda update anaconda-navigator</h4>
            <img src="../../images/2/01.png", class="images">
            <h4>3.执行anaconda-navigator --reset</h4>
            <h4>4.执行conda update anaconda-client</h4>
            <img src="../../images/2/02.png", class="images">
            <h4>5.执行conda update -f anaconda-client</h4>
            <h4>6.重启Navigator</h4>
            <img src="../../images/2/03.png", class="images">
        </div>
    </div>
</body>
</html>
